<div class="container text-center p-5 mb-4">
    <div class="row justify-content-center text-center py-5">
        <h3 class="display-5 fw-bold project-title">IIN Content Writer</h3>
        <div>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam massa mi, mattis id massa a, 
                posuere elementum magna. Suspendisse vel mattis ipsum, vitae laoreet ante. Proin ultricies tortor 
                sapien, eu faucibus mauris lacinia condimentum. Suspendisse potenti.
            </p>
            <p>https://www.integrativenutrition.com/blog/author/kimberly-steinkopf</p>
        </div>
    </div>
</div>
<div class="container blog-post-container">
    <div class="row blog-post-row">
        <div class="col">
            <a class="blog-post-item hvr-grow">
                <img src="assets/images/end-winter-blog.png" class="img-fluid" alt>
                <span class="card-text text-center">
                    <p>Twelve Health Tips to Get Through the End of Winter</p>
                    <button type="button" class="btn btn-outline-light" (click)="onViewBlogPost('winter')">View</button>
                </span>
            </a>  
        </div>
        <div class="col">
            <a class="blog-post-item hvr-grow">
                <img src="assets/images/blue-zones-blog.png" class="img-fluid" alt>
                <span class="card-text text-center">
                    <p>How to Attain Optimal Heart Health: Lifestyle Tips from the Blue Zones</p>
                    <button type="button" class="btn btn-outline-light" (click)="onViewBlogPost('blue')">View</button>
                </span>
            </a>  
        </div>
        <div class="col">
            <a class="blog-post-item hvr-grow">
                <img src="assets/images/cheap-dates-blog.png" class="img-fluid" alt>
                <span class="card-text text-center">
                    <p>30 Cheap Date Ideas for Healthy Relationships</p>
                    <button type="button" class="btn btn-outline-light" (click)="onViewBlogPost('date')">View</button>
                </span>
            </a>  
        </div>
    </div>
    <div class="row blog-post-row">
        <div class="col">
            <a class="blog-post-item hvr-grow">
                <img src="assets/images/dry-january-blog.png" class="img-fluid" alt>
                <span class="card-text text-center">
                    <p>Beyond Dry January: Thinking About Alcohol and Your Health</p>
                    <button type="button" class="btn btn-outline-light" (click)="onViewBlogPost('dry')">View</button>
                </span>
            </a>  
        </div>
        <div class="col">
            <a class="blog-post-item hvr-grow">
                <img src="assets/images/goals-blog.png" class="img-fluid" alt>
                <span class="card-text text-center">
                    <p>Goal Setting for Success</p>
                    <button type="button" class="btn btn-outline-light" (click)="onViewBlogPost('goal')">View</button>
                </span>
            </a>  
        </div>
        <div class="col">
            <a class="blog-post-item hvr-grow">
                <img src="assets/images/friendsgiving-blog.png" class="img-fluid" alt>
                <span class="card-text text-center">
                    <p>Healthy Friendsgiving Ideas</p>
                    <button type="button" class="btn btn-outline-light" (click)="onViewBlogPost('friends')">View</button>
                </span>
            </a>  
        </div>
    </div>
    <div class="row blog-post-row">
        <div class="col">
            <a class="blog-post-item hvr-grow">
                <img src="assets/images/gratitude-blog.png" class="img-fluid" alt>
                <span class="card-text text-center">
                    <p>The Benefits of Gratitude and How to be Grateful This Holiday Season</p>
                    <button type="button" class="btn btn-outline-light" (click)="onViewBlogPost('gratitude')">View</button>
                </span>
            </a>  
        </div>
        <div class="col">
            <a class="blog-post-item hvr-grow">
                <img src="assets/images/halloween-blog.png" class="img-fluid" alt>
                <span class="card-text text-center">
                    <p>Sugar Cravings and Easy Halloween Treats to Keep You on Track</p>
                    <button type="button" class="btn btn-outline-light" (click)="onViewBlogPost('halloween')">View</button>
                </span>
            </a>  
        </div>
        <div class="col">
            <a class="blog-post-item hvr-grow">
                <img src="assets/images/avoid-burnout-blog.png" class="img-fluid" alt>
                <span class="card-text text-center">
                    <p>How to Avoid Burnout at Work</p>
                    <button type="button" class="btn btn-outline-light" (click)="onViewBlogPost('burnout')">View</button>
                </span>
            </a>  
        </div>
    </div>
    <div class="row blog-post-row">
        <div class="col">
            <a class="blog-post-item hvr-grow">
                <img src="assets/images/back-to-school-blog.png" class="img-fluid" alt>
                <span class="card-text text-center">
                    <p>Back to School: Keeping the Whole Family Healthy</p>
                    <button type="button" class="btn btn-outline-light" (click)="onViewBlogPost('school')">View</button>
                </span>
            </a>  
        </div>
        <div class="col">
            <a class="blog-post-item hvr-grow">
                <img src="assets/images/apples-blog.png" class="img-fluid" alt>
                <span class="card-text text-center">
                    <p>Farmers’ Market Finds: What to Look for This Fall</p>
                    <button type="button" class="btn btn-outline-light" (click)="onViewBlogPost('farmers')">View</button>
                </span>
            </a>  
        </div>
        <div class="col">
            <a class="blog-post-item hvr-grow">
                <img src="assets/images/sunday-scaries-blog.jpeg" class="img-fluid" alt>
                <span class="card-text text-center">
                    <p>What are the Sunday Scaries? Reduce Stress and Anxiety</p>
                    <button type="button" class="btn btn-outline-light" (click)="onViewBlogPost('sunday')">View</button>
                </span>
            </a>  
        </div>
    </div>
</div>
<projects-lower [getCurrentPage]='currentPage'></projects-lower>
