.navbar {
  padding-top: 1.5rem;
}
.navbar-title {
  justify-content: flex-start;
}
.navbar-links {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}
.nav-link {
  color: black;
}
