.navbar {
  padding-top: 1.5rem;
}
.navbar-links {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}
.nav-link {
  color: black;
}
#collapse-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-bottom: 0.1rem black solid;
}
.collapse-nav-link {
  color: black;
  text-decoration: none;
  padding-bottom: 1rem;
}
