<div class="container text-center p-5 mb-4">
  <div class="row justify-content-center text-center py-5">
    <h2 class="display-5 fw-bold">I'm a content enthusiast and community manager.
    <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="currentColor" class="bi bi-emoji-heart-eyes" viewBox="0 0 16 16">
      <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
      <path d="M11.315 10.014a.5.5 0 0 1 .548.736A4.498 4.498 0 0 1 7.965 13a4.498 4.498 0 0 1-3.898-2.25.5.5 0 0 1 .548-.736h.005l.017.005.067.015.252.055c.215.046.515.108.857.169.693.124 1.522.242 2.152.242.63 0 1.46-.118 2.152-.242a26.58 26.58 0 0 0 1.109-.224l.067-.015.017-.004.005-.002zM4.756 4.566c.763-1.424 4.02-.12.952 3.434-4.496-1.596-2.35-4.298-.952-3.434zm6.488 0c1.398-.864 3.544 1.838-.952 3.434-3.067-3.554.19-4.858.952-3.434z"/>
    </svg>
    </h2>
  </div>
  <button type="button" routerLink="about" class="btn btn-dark">More About Me</button>
</div>
<div class="pb-5 filter-container">
  <div class="filter-items">
    <div class="portfolio-filter">
      <span class="nav-link" [ngClass]="allFilter ? 'active' : ''" (click)="click_all_filter()">all projects</span>
    </div>
    <div class="portfolio-filter">
      <span class="nav-link" [ngClass]="brandFilter ? 'active' : ''" (click)="click_brand_filter()">branding</span>
    </div>
  </div>
  <div class="filter-items">
    <div class="portfolio-filter">
      <span class="nav-link" [ngClass]="marketingFilter ? 'active' : ''" (click)="click_marketing_filter()">marketing</span>
    </div>
    <div class="portfolio-filter">
      <span class="nav-link" [ngClass]="socialFilter ? 'active' : ''" (click)="click_social_filter()">social</span>
    </div>
  </div>
</div>
<div class="container justify-content-center text-center mb-4">
  <div *ngIf="allFilter || brandFilter" class="portfolio-item hvr-grow mb-5">
    <a class="portfolio-card" routerLink="project/one">
      <span class="card-image">
        <img src="assets/images/coffee.jpg" class="img-fluid" alt>
      </span>
      <span class="card-text">
        <h1 class="card-text-heading">Project Number One</h1>
        <span class="card-text-subtitle">branding</span>
      </span>
    </a>
  </div>
  <div *ngIf="allFilter || marketingFilter" class="portfolio-item hvr-grow mb-5">
    <a class="portfolio-card" routerLink="project/two">
      <span class="card-image">
        <img src="assets/images/entrepreneur.jpg" class="img-fluid" alt>
      </span>
      <span class="card-text">
        <h1 class="card-text-heading">Project Number Two</h1>
        <span class="card-text-subtitle">marketing</span>
      </span>
    </a>
  </div>
  <div *ngIf="allFilter || socialFilter" class="portfolio-item hvr-grow mb-5">
    <a class="portfolio-card" routerLink="project/three">
      <span class="card-image">
        <img src="assets/images/social.jpg" class="img-fluid" alt>
      </span>
      <span class="card-text">
        <h1 class="card-text-heading">Project Number Three</h1>
        <span class="card-text-subtitle">social</span>
      </span>
    </a>
  </div>
  <div *ngIf="allFilter || brandFilter" class="portfolio-item hvr-grow mb-5">
    <a class="portfolio-card" routerLink="project/four">
      <span class="card-image">
        <img src="assets/images/student.jpg" class="img-fluid" alt>
      </span>
      <span class="card-text">
        <h1 class="card-text-heading">Project Number Four</h1>
        <span class="card-text-subtitle">branding</span>
      </span>
    </a>
  </div>
</div>
