<div class="pb-5 mb-4">
    <ul class="nav justify-content-center">
      <li class="nav-item portfolio-filter">
        <a class="nav-link" href="#">all projects</a>
      </li>
      <li class="nav-item portfolio-filter">
        <a class="nav-link" href="#">branding</a>
      </li>
      <li class="nav-item portfolio-filter">
        <a class="nav-link" href="#">marketing</a>
      </li>
      <li class="nav-item portfolio-filter">
        <a class="nav-link" href="#">social</a>
      </li>
    </ul>
  </div>
