<div class="container community-container mb-4">
    <div class="community-row">
        <div class="col-left">
            <div>
                <img src="assets/images/share-homepage.jpg" class="img-fluid card-image" alt>
            </div>
        </div>
        <div class="col-right">
            <div class="col-content">
                <h2 class="fw-bold">Title</h2>
                <br>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam massa mi, mattis id massa a, 
                    posuere elementum magna. Suspendisse vel mattis ipsum, vitae laoreet ante. 
                    Proin ultricies tortor sapien, eu faucibus mauris lacinia condimentum.
                </p>
            </div>
        </div>
    </div>
    <div class="community-row">
        <div class="col-left">
            <div class="col-content">
                <p>
                    Nunc vitae ullamcorper quam. Donec aliquam sem ac viverra volutpat. 
                    Fusce in massa ut elit malesuada ullamcorper ut molestie diam. Maecenas sodales, 
                    tortor vitae porttitor placerat, augue ipsum feugiat magna, ac suscipit arcu mi in nisl. 
                    In nec nisl tincidunt, consequat erat quis, viverra nisi.
                </p>
            </div>
        </div>
        <div class="col-right">
            <div>
                <img src="assets/images/share-toolbox.jpg" class="img-fluid card-image" alt>
            </div>
        </div>
    </div>
    <div class="community-row">
        <div class="col-left">
            <div>
                <img src="assets/images/share-email-resources.jpg" class="img-fluid card-image" alt>
            </div>
        </div>
        <div class="col-right">
            <div class="col-content">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam massa mi, mattis id massa a, 
                    posuere elementum magna. Suspendisse vel mattis ipsum, vitae laoreet ante. 
                    Proin ultricies tortor sapien, eu faucibus mauris lacinia condimentum. 
                    Suspendisse potenti. 
                </p>
            </div>
        </div>
    </div>
    <div class="community-row">
        <div class="col-left">
            <div class="col-content">
                <p>
                    Nunc vitae ullamcorper quam. Donec aliquam sem ac viverra volutpat. 
                    Fusce in massa ut elit malesuada ullamcorper ut molestie diam. Maecenas sodales, 
                    tortor vitae porttitor placerat, augue ipsum feugiat magna, ac suscipit arcu mi in nisl. 
                    In nec nisl tincidunt, consequat erat quis, viverra nisi.
                </p>
            </div>
        </div>
        <div class="col-right">
            <div>
                <img src="assets/images/share-dashboard.png" class="img-fluid card-image" alt>
            </div>
        </div>
    </div>
</div>
<projects-lower [getCurrentPage]='currentPage'></projects-lower>