.community-container {
  padding-top: 5rem;
}
.community-row {
  display: flex;
  flex-flow: row wrap;
}
.col-left {
  padding-right: 0rem !important;
}
.col-right {
  padding-left: 0rem !important;
}
.col-content {
  padding: 2rem 2rem 0rem 2rem;
}
